/* src/styles/Hero.css */

.hero-section {
  position: relative; /* Essential: Creates a boundary for absolute children */
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #e8d7bc6c;
}

.content-container-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.content-container-one {
    display: flex;
    width: 100%;
    height: 53rem;
    justify-content: space-between;
    padding: 10rem 10rem;
}

.hero-title-one-container {
    width: 56%;
}

.hero-title-one {
    font-size: 6.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0); 
    letter-spacing: -2px;
}

.hero-sub-one {
    font-size: 2.75rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: rgb(70, 70, 70); 
    letter-spacing: -2px;
}

.hero-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    z-index: 10;
}

.hero-video-container .hero-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.content-container-two {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5rem 5rem;
}

.image-background {
  position: absolute; /* Takes it out of the document flow */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Lowest layer */
}

.hero-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.09;
}

.hero-content {
  position: relative; 
  z-index: 10; /* Higher than the background */
  max-width: 50%;
  color: black; /* Example color */
  text-align: center;
}

.hero-gradient-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; /* Between the image (1) and the text (10) */
  pointer-events: none; /* Allows clicks to pass through to buttons if needed */
}