


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    --color-primary: #f99a26;

    --color-secondary: #f8af11;

    --color-background: #FFFFFF;
    --color-light-gray: #F4F7F9;

    --color-text-dark: #1E2125;
    --color-text-light: #5C6773;


    --font-heading: 'Inter', sans-serif;
    --font-body: 'Roboto', sans-serif;
}


body {
    font-family: var(--font-body);
    color: var(--color-text-dark);
    background-color: var(--color-background);
    line-height: 1.6;
    overflow-x: hidden;
}


h1, h2, h3, h4 {
    font-family: var(--font-heading);
    line-height: 1.2;
    font-weight: 700;
}


.cta-primary, .cta-secondary {
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}


.cta-primary {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: var(--color-primary);
    color: var(--color-background);
    box-shadow: 0 4px 15px #FF6B6B;
    font-size: 1.5rem;
    width: 100%;
}

.cta-primary:hover {
    background-color: var(--color-secondary);
    box-shadow: 0 6px 20px black;
}


.highlight-text {
    color: var(--color-primary);
}



html {
    font-size: 14px;
}


@media (min-width: 576px) {
    html {
        font-size: 15px;
    }
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
}


@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}


@media (min-width: 1400px) {
    html {
        font-size: 20px;
    }
}