.service-hero-section {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

.content-container-one-services {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5rem;
  margin-top: 3rem;
}

.services-title-one-container {
  position: relative;
  width: 640;
  margin-left: 4rem;
}

.services-title {
    font-size: 4rem;
    margin-right: 2rem;
}

.service-hero-section .content-container-one {
    height: auto;
    padding-bottom: 2rem;
}

.service-hero-section .content-container-two {
    padding-top: 0;
}

.service-detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin-top: 3rem;
}

@media (max-width: 991px) {
    .service-detail-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2rem;
    }
}

@media (max-width: 767px) {
    .service-detail-grid {
        grid-template-columns: 1fr;
    }
}